<div class="bg-light p-4 rounded">
  <h3>Send us updates!</h3>
  <p> Got some news or QIR related post you want to share? Make a pull request on <a href="https://github.com/qir-alliance/qir-alliance.github.io" class="link-fancy">the repo</a> for this site, or send an email to <a href="mailto:qiralliance@mail.com" class="link-fancy">.</p>
</div>

<div class="p-4 mt-5 border-top">
  <h3>Tag List</h3>
  <p>
    {% include 'snippets/tagslist.njk' %}
  </p>
</div>
