---
layout: layouts/blank.njk
---

<div class="container my-vh-2">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-1">
        <img src="{{ '/img/teal.svg' | url }}" alt={{ metadata.author }} height="25%" width="50%"><br>
        the core of quantum development.
      </h1>
      <p class="lead mb-4">{{ metadata.description }}</p>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="{{ metadata.docs }}" target="_blank" rel="noopener" >Get started
        </a>
      <a class="link-fancy py-2" href="{{ metadata.spec }}">Read the spec
      </a>
    </div>
  </div>
</div>

<div id="why-qir" class="wrapper position-relative my-vh-5 bg-light">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-2">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Unlock new quantum devices</h2>
        <p>We strive to develop a holistic solution that permits to take full advantage of unique and distinct capabilities in the landscape of heterogenous quantum processors. </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Industry-wide collaboration</h2>
        <p>We are thrilled to be collaborating closely with the quantum community to design and implement the necessary compiler technology to accelerate advances in quantum programming language design and execution systems.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Enable hybrid programs</h2>
        <p>11straps includes a dev build process with a local server and browser sync. Everything you need for your local live dev environment.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Get involved</h2>
        <p>We welcome new repositories under the QIR Alliance from both members and non-members. If you are curious about the community, check out the QIR channel on the [Unitary Fund Discord], and the QIR community call and Office Hours every week on Thursdays on the Discord.</p>
      </div>
    </div>
  </div>
</div>
