---
layout: layouts/blank.njk
---

{% include 'snippets/logohero.njk' %}

<div id="why-qir" class="wrapper position-relative my-vh-5 bg-light">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-2">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Unlock new quantum devices</h2>
        <p>We strive to develop a holistic solution that allows all to take full advantage of unique and distinct capabilities of heterogenous quantum processors. </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Industry-wide collaboration</h2>
        <p>We are a community-wide effort to design and implement the necessary compiler technology to accelerate advances in quantum programming language design and execution systems.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Enable hybrid programs</h2>
        <p>We enable quantum stack developers and end-users to explore and write programs with complex classical and quantum instructions which give us a path to fault-tolerant quantum computing. </p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Get involved</h2>
        <p>We welcome new repositories under the QIR Alliance from both members and non-members. If you are curious about the community, check out the QIR channel on the <a href = "https://discord.com/invite/JqVGmpkP96">Unitary Fund Discord</a>, and the QIR community call and Office Hours every week on Thursdays on the Discord.</p>
      </div>
    </div>
  </div>
</div>
