---
layout: layouts/news.njk
title: QIR News
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---

<p class="lead">Updates and news from across the QIR Community. Got a news post you want to suggest? Make a pull request on <a href="https://github.com/qir-alliance/qir-alliance.github.io" class="link-fancy">the repo</a> for this site.</p>
