---
layout: layouts/news.njk
title: QIR News
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---

<p class="lead">Updates and news from across the QIR Community.</p>
